$accentColor = #FF8D33
$textColor = black
$borderColor = #E6E6E6
$codeBgColor = #1AAD9C


// dist/styles/index.style
img 
  border-style solid
  border-color #E6E6E6


  /* Import Montserrat and Rubik */


@import url(https://fonts.googleapis.com/css2?family=Roboto);



/* Set default values */

* {
    font-family: 'Roboto Slab', serif;
}



 
