$accentColor = #FF8D33
$textColor = black
$borderColor = #E6E6E6
$codeBgColor = #1d1d1d
$Bgcolor = #F0F0F0

// dist/styles/index.style
img {
  border-style: solid;
  border-color: #E6E6E6;
}

  /* Import Montserrat and Rubik */


@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic&display=swap');






/* Set default values */


* {
  font-family: 'IBM Plex Sans Arabic', sans-serif;
}
